.investment {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
.formFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}