.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1500px;  /* Adjusted for better spacing */
    padding: 10px;
    background-color: #f4f4f4;
}

.sidebar nav div {
    padding: 8px 12px;
    border-radius: 5px;
}

.sidebar nav div:hover {
    background-color: #cecbcb;
}

.sidebar-item {
    padding: 12px;
    margin: 10px 0;  /* Added margin to create space between routes */
    border-radius: 5px;
    transition: background 0.3s ease;
  }

.sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.sidebar-item.active {
    background: #007bff;
  }
  
  .sidebar-item.active a {
    color: white;
  }
